<div class="jumbotron">
    <p>You can add a new product manually here.</p>
    <p>Object_type_id: 2 - Notebook</p>
    <p>Object_type_id: 3 - Desktop PC</p>
    <p>Object_type_id: 4 - Tablet</p>
    <form class="search-form"  method="POST" action="/add">
        <strong>Id:</strong></br> <input class="form-control" name="id"></input></br>
        <strong>Object_type_id:</strong></br> <input class="form-control" name="ot_id"></input></br>
        <strong>Name:</strong></br> <input class="form-control" name="name"></input></br>
        <strong>Href:</strong></br> <input class="form-control"name="href"></input></br>
        <strong>Price:</strong></br> <input class="form-control" name="price"></input></br>
        <strong>Description:</strong></br> <input class="form-control" name="description"></input></br></br>
        <button class="btn btn-success" name="okbutton" value="Add">Add!</button>
    </form>
</div>
<script type="text/javascript" src="public/js/search.js"></script>