<div class="jumbotron">
    <div class="orderby">
        Order By...
        <form class="search-form"  method="POST" action="/index">
            <select class="form-control" name="select">
                <option value="default" selected="selected">Choose an option...</option>
                <option value="object_id">Id</option>
                <option value="name">Name</option>
                <option value="href">Href</option>
                <option value="price">Price</option>
            </select>
            <select class="form-control" name="select1">
                <option value="default" selected="selected">Choose an option...</option>
                <option value="asc">Increase</option>
                <option value="desc">Decrease</option>
            </select>
            <button type="submit" class="btn btn-primary" value="Search!">Order!</button>
        </form>
    </div>
    <?php echo $this->data['result']; ?>
</div>

