<div class="jumbotron">
    <p>You can update info about a product here (using his id).</p>
    <form class="search-form"  method="POST" action="/update">
        <strong>Id:</strong><br> <input class="form-control" name="id"></input><br>
        <strong>Name:</strong><br><input class="form-control" name="name"></input><br>
        <strong>Href:</strong><br> <input class="form-control" name="href"></input><br>
        <strong>Price:</strong><br> <input class="form-control" name="price"></input><br>
        <strong>Description:</strong><br> <input class="form-control" name="description"></input><br><br>

        <button class="btn btn-success" name="okbutton" value="Update">Update!</button>
    </form>
</div>
<script type="text/javascript" src="public/js/search.js"></script>